.sa-card{
  display: block;
  height: 50vh;
  width: 25vw;
  background: lightgray;
  border: 2px solid black;
}
img{
  width: 100%;
}
.sa-card:hover{

  animation-duration: 0.5s;
  animation-name: enlarge;

  transform: scale(1.2);

}
@keyframes enlarge {
  from{

    transform: scale(1);
  }
  to{

    transform: scale(1.2);
  }
}


